{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <section class="container">
            <h1 style="text-align: center; font-size: xx-large">Change password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Password1" class="form-label"
                           style="color: white">{{ form.new_password1.label.capitalize }}:</label>
                    <input type="password" class="form-control" id="Password1"
                           name="{{ form.new_password1.html_name }}">
                </div>

                <div class="mb-3">
                    <label for="Password2" class="form-label"
                           style="color: white">{{ form.new_password2.label.capitalize }}:</label>
                    <input type="password" class="form-control" id="Password2"
                           name="{{ form.new_password2.html_name }}">
                </div>
                <div class="mb-3">
                    {% for field in form %}
                        {% if field.help_text %}
                            <small class="help" style="color: white">{{ field.help_text|safe }}</small>
                        {% endif %}
                    {% endfor %}
                    {% if form.errors %}
                        {% for error in form.errors %}
                            <p class="help is-danger" id="help" style="color: #ea1c1c">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    {% else %}
        <p class="container">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}