{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 mt-5" style="color: white">
        <p>Looking for a job can be a daunting task, but with the right tools, it doesn't have to be. Job-Seeker.com is
            here to help you every step of the way, from finding the right job to nailing the interview.</p>
        <p>We believe that the right job is out there for everyone. We'll help you find it. We have a huge database of
            jobs from all over the country, so you can be sure to find the perfect position for you.
            So what are you waiting for? Start your job search today!</p>
    </div>
{% endblock %}